<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DLL" value="..\..\..\BFH.EADN.Persistence.EF\bin\Debug\BFH.EADN.Persistence.EF.dll" />
    <add key="TypeName" value="BFH.EADN.Persistence.EF.FactoryEF" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=(LocalDB)\mssqllocaldb;                            
                           AttachDbFileName=D:\Code\BFH\EADN\Semesterarbeit\bfh.eadn\BFH.EADN.QuizService.ImplementationTests\bin\Debug\QuizDatabase.mdf;     
                           Integrated Security=True;                            
                           MultipleActiveResultSets=True;" 
          providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" 
     connectionString="Data Source=(LocalDB)\mssqllocaldb;
                           AttachDbFileName=\\Mac\Home\Google Drive\BFH\Semesterarbeit\Code\BFH.EADN\BFH.EADN.QuizManagementService.ImplementationTests\bin\Debug\QuizDatabase.mdf;
                           Integrated Security=True;
                           MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient"  />-->
     
  </connectionStrings>
</configuration>