@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-offset-md-4 col-md-4">
        @Html.ActionLink("Play", "Play", "Index", null, new { @class="btn btn-primary" })
        @Html.ActionLink("Logon", "Logon", "Session", null, new { @class = "btn btn-success" })
    </div>        
</div>