@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}

<h1>
    Welcome to the quiz platform
</h1>
<div class="well center-block">
    @Html.ActionLink("Play", "Index", "Play", null, new { @class = "btn btn-lg btn-default btn-block" })
    @Html.ActionLink("Manage Quizzes", "Index", "Quiz", null, new { @class = "btn btn-lg btn-primary btn-block" })
</div>


