<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="year" value="1950"/>
    <add key="message" value="this is a text"/>
    <add key="isTrue" value="true"/>

    <!-- Factory Test -->
    <add key="DLL" value="..\..\..\BFH.EADN.Persistence.EF\bin\Debug\BFH.EADN.Persistence.EF.dll" />
    <add key="TypeName" value="BFH.EADN.Persistence.EF.FactoryEF" />
  </appSettings>
</configuration>