<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DLL" value="..\..\..\BFH.EADN.Persistence.EF\bin\Debug\BFH.EADN.Persistence.EF.dll" />
    <add key="TypeName" value="BFH.EADN.Persistence.EF.FactoryEF" />
    <add key="SeedingActive" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuizDatabase;
        Integrated Security=True;
        MultipleActiveResultSets=True
        "/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfServiceBehavior" name="BFH.EADN.QuizService.Implementation.QuizService">
        <endpoint address="net.tcp://localhost:5011/Play" binding="netTcpBinding"
            bindingConfiguration="" contract="BFH.EADN.QuizService.Contracts.IPlay" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceBehavior" >
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>