<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DLL" value="..\..\..\BFH.EADN.Persistence.EF\bin\Debug\BFH.EADN.Persistence.EF.dll" />
    <add key="TypeName" value="BFH.EADN.Persistence.EF.FactoryEF" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--
    <add name="DefaultConnection"
     connectionString="Data Source=(LocalDB)\mssqllocaldb;
                           AttachDbFileName=D:\Code\BFH\EADN\Semesterarbeit\bfh.eadn\BFH.EADN.Persistence.EF\DB\QuizDatabase.mdf;
                           Integrated Security=True;
                           MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient"  />
    <add name="DefaultConnection"
     connectionString="Data Source=(LocalDB)\mssqllocaldb;
                           AttachDbFileName=\\Mac\Home\Google Drive\BFH\Semesterarbeit\Code\BFH.EADN\BFH.EADN.Persistence.EF\DB\QuizDatabase.mdf;
                           Integrated Security=True;
                           MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient"  />
    <add name="DefaultConnection"
     connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;
                       database=QuizDb;
                       AttachDBFilename=\\Mac\Home\Google Drive\BFH\Semesterarbeit\Code\BFH.EADN\BFH.EADN.Persistence.EF\DB\QuizDatabase.mdf;
                       User Instance=true"
     providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuizDatabase;
        Integrated Security=True;
        MultipleActiveResultSets=True
        "/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfServiceBehavior" name="BFH.EADN.QuizService.Implementation.QuizService">
        <endpoint address="net.tcp://localhost:5011/Play" binding="netTcpBinding"
            bindingConfiguration="" contract="BFH.EADN.QuizService.Contracts.IPlay" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceBehavior" >
          <!-- Add the following element to your service behavior configuration. -->
          <!--<serviceMetadata httpGetEnabled="true" />-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>