<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DLL" value="..\..\..\BFH.EADN.Persistence.EF\bin\Debug\BFH.EADN.Persistence.EF.dll" />
    <add key="TypeName" value="BFH.EADN.Persistence.EF.FactoryEF" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
     connectionString="Data Source=(LocalDB)\mssqllocaldb;
                           AttachDbFileName=D:\Code\BFH\EADN\Semesterarbeit\bfh.eadn\BFH.EADN.Persistence.EF\DB\QuizDatabase.mdf;
                           Integrated Security=True;
                           MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient"  />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfServiceBehavior" name="BFH.EADN.QuizManagementService.Implementation.QuizManagement">
        <endpoint address="net.tcp://localhost:5002/QuizManagement" binding="netTcpBinding"
            bindingConfiguration="" contract="BFH.EADN.QuizManagementService.Contracts.IQuizManagement" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceBehavior" >
          <!-- Add the following element to your service behavior configuration. -->
          <!--<serviceMetadata httpGetEnabled="true" />-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>