<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DLL" value="..\..\..\BFH.EADN.Persistence.EF\bin\Debug\BFH.EADN.Persistence.EF.dll" />
    <add key="TypeName" value="BFH.EADN.Persistence.EF.FactoryEF" />
  </appSettings>
  <connectionStrings>

    <!--<add name="DefaultConnection"
        connectionString="Data Source=(LocalDB)\mssqllocaldb;
                           AttachDbFileName=D:\Code\BFH\EADN\Semesterarbeit\bfh.eadn\BFH.EADN.QuizManagementService.ImplementationTests\bin\Debug\QuizDatabase.mdf;
                           Integrated Security=True;
                           MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient"  />
    <add name="DefaultConnection"
     connectionString="Data Source=(LocalDB)\mssqllocaldb;
                           AttachDbFileName=\\Mac\Home\Google Drive\BFH\Semesterarbeit\Code\BFH.EADN\BFH.EADN.Persistence.EF\DB\QuizDatabase.mdf;
                           Integrated Security=True;
                           MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient"  /> -->

    <add name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuizDatabase;
        Integrated Security=True;
        MultipleActiveResultSets=True "/> 
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfServiceBehavior" name="BFH.EADN.QuizManagementService.Implementation.QuizManagement">
        <endpoint address="net.tcp://localhost:5001/TopicManagement" binding="netTcpBinding"
            bindingConfiguration="" contract="BFH.EADN.QuizManagementService.Contracts.ITopicManagement" />
        <endpoint address="net.tcp://localhost:5001/AnswerManagement" binding="netTcpBinding"
            bindingConfiguration="" contract="BFH.EADN.QuizManagementService.Contracts.IAnswerManagement" />
        <endpoint address="net.tcp://localhost:5001/QuestionManagement" binding="netTcpBinding"
            bindingConfiguration="" contract="BFH.EADN.QuizManagementService.Contracts.IQuestionManagement" />
        <endpoint address="net.tcp://localhost:5001/QuizManagement" binding="netTcpBinding"
            bindingConfiguration="" contract="BFH.EADN.QuizManagementService.Contracts.IQuizManagement" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceBehavior" >
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceAuthorization principalPermissionMode="Always" />-->
          <!--<serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="BFH.EADN.QuizManagementService.Implementation.CustomAuthorizationPolicy, BFH.EADN.QuizManagementService.Implementation" />
            </authorizationPolicies>
          </serviceAuthorization>-->
          <!-- Add the following element to your service behavior configuration. -->
          <!--<serviceMetadata httpGetEnabled="true" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>